# MongoDB URL
MONGODB_URI=mongodb+srv://everestrestaurantcook:everestrestaurantcookmail@everest.qd2a3oh.mongodb.net/?retryWrites=true&w=majority&appName=Everest

# Secret keys
JWT_SECRET=a_very_secret_jwt_key_that_is_long
JWT_EXPIRE=30d
PORT=5000

# Developer
NODE_ENV=development

# backend and frrontend url
CLIENT_URL=http://localhost:8080
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:5000

# Contact googl app and pasword
EMAIL_USER=everestrestaurantcook@gmail.com
EMAIL_PASS=osoc snko wlzm lnwb

# Payment id and passwords
PAYME_MERCHANT_ID=test_merchant_id
PAYME_SECRET_KEY=test_secret_key
SOCKET_CORS_ORIGIN=http://localhost:8080

# Google OAuth
GOOGLE_CLIENT_ID=585688447576-dqstt6ibrktpuoilfi86lhqdrqbsbnk6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-wuzokK9ePByi4iKNB4_P￾OWIU9bE

# SMTP (Gmail uchun App Password)
SMTP_USER=everestrestaurantcook@gmail.com
SMTP_PASS=mzlg fgpu isux oxqh

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=public_DoW9EG6j7aExOddHQrl+FFCH1tA=
IMAGEKIT_PRIVATE_KEY=private_r6IX9w37Omu5He6C6b0LXufhkas=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/everestrestaurant/productimages/
